#recall{
    position: relative;
}
#rcl-notice{
	position: fixed;
    top: 70px;
	right: 30px;
    width: 210px;
	z-index: 999999;
}
#rcl-notice .notice-window {
    line-height: 1;
    font-size: 14px;
	margin: 5px 0;
	padding: 8px 2px 8px 10px;
	word-wrap: break-word;
}
#rcl-notice .type-error{
	background: rgb(255, 207, 207);
    color: red;
	border-left: 3px solid red;
}
#rcl-notice .type-warning{
	background: #fff5ce;
    color: #333;
	border-left: 3px solid #333;
}
#rcl-notice .type-success{
	background: #bfffbd;
    color: #008000;
	border-left: 3px solid #008000;
}
#rcl-notice .notice-window .close-notice{
    float:right;
	color:inherit;
	padding: 0 5px 0 4px;
}
body .rcl_preloader{
    position: absolute!important;
    height: 100%!important;
    width: 100%!important;
    background: rgba(255,255,255,0.5)!important;
    top: 0!important;
    left: 0!important;
    display: block!important;
    z-index: 99;   
}
.rcl_preloader i {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
}
.rcl_preloader i:before{
    font: 400 120px/1 dashicons;
    content:"\f463";
    -webkit-animation:rotation 2s infinite linear;
    animation:rotation 2s infinite linear;
}
#recall .title-option {
    border: 1px solid #AAAAAA;
    box-shadow: 0 0 50px #CCCCCC inset;
    cursor: pointer;
    margin: 5px 0 0;
    padding: 5px 8px;
    width: 600px;
    display:block;
}
#recall.left-sidebar form{
    height:870px;
}
#recall.left-sidebar .title-option{
    width: 220px;
    font-size: 16px;
}
#recall.left-sidebar .active{
    background: #2ea2cc;
    color: #fff;
    font-weight: bold;
    box-shadow:none;
}
.wrap-recall-options {
    border: 1px solid #ccc;
    box-shadow: 0 0 50px #F0F0F0 inset;
    display: none;
    margin: 0 0 5px;
    padding: 15px;
    /* width: 600px; */   
}
.left-sidebar .wrap-recall-options{
    position: absolute;
    left: 250px;
    top: 0;
    max-height: 800px;
    overflow-y: scroll;
}
.wrap-recall-options .option-block {
    background: #eee none repeat scroll 0 0;
    border: 1px solid #dadada;
    border-radius: 2px;
    margin: 8px 0;
    padding: 5px 15px;
    width: 500px;
    /* float: left; */
}
.wrap-recall-options .option-block h3 {
    text-transform: uppercase;
	
    margin: 10px 0;
}
.wrap-recall-options .option-block label {
    display: block;
    font-weight: bold;
    margin-top: 5px;
}
.wrap-recall-options .option-block small {
    display: block;
}
.wrap-recall-options .option-block select, 
.wrap-recall-options .option-block input[type="text"],
.wrap-recall-options .option-block input[type="number"]{
    height: 28px;
    padding: 5px;
    width: 300px;
    height: 30px;
}
.wrap-recall-options .option-block input[type="number"]{
    width: 100px;
}
.wrap-recall-options .option-block textarea{
	height:60px;
	width: 500px;
}
.wrap-recall-options p {
    overflow: hidden;
}
.wrap-recall-options .adm_warn {
    color: #d32723;
}
.wrap-recall-options .adm_succ {
    color: #52ae02;
}
.wrap-recall-options .adm_b14 {
    font: bold 14px Arial,Georgia,Verdana;
}
.wrap-recall-options .adm_b16 {
    font: bold 16px Arial,Georgia,Verdana;
}
.wrap-recall-options .adm_b18 {
    font: bold 18px Arial,Georgia,Verdana;
}
.shift-extend-options > label {
    background: #f5c0c0;
    border: 1px solid #ccc;
    display: inline-block;
    font-size: 14px;
    padding: 8px 8px 7px;
    width: 220px;
}
.wrap-recall-options .extend-options.hidden-option{
    display:none;
}
.child-select{
	display:none;
}
.column-thumb .thumbnail{
    box-shadow: inset 0 0 8px 2px rgba(0,0,0,.1);
    width:70px;
    height:70px;
}
.wrap .submit-block{
    width: 600px;
}
.left-sidebar .submit-block{
    width: 200px;
    margin-top:50px;
}
#rcl-options-form .tabs-list-rcl{
    
}
#rcl-options-form .tabs-list-rcl li{
    border: solid 1px #ccc;
    padding: 1px 10px;
    background: #ddd;
    cursor: move;
    margin: 3px 5px;
}
span.ruble-symbol{
    position: relative;
	  font-weight: normal;
	  font-family:Arial;
}
.ruble-symbol span{
    position: absolute;
    line-height: 1px;
    top: 55%;
    left: 0;
}


.rcl-custom-fields-box{
    width:520px;
    padding: 10px;
    background: #f7fcff;
    margin: 10px;
    border: 1px solid #ccc;
    display: inline-block;
    vertical-align: top;
    max-width:500px;
    position:relative;
}
.rcl-custom-fields-box input,
.rcl-custom-fields-box textarea,
.rcl-custom-fields-box select{
    width: 100%; 
    box-sizing: border-box;
}
.rcl-custom-fields-box input[type="checkbox"],
.rcl-custom-fields-box input[type="radio"]{
    width: initial;
}
.rcl-custom-fields-box .rcl-custom-field{
    margin-bottom: 10px;
    position:relative;
}
.rcl-custom-fields-box .rcl-custom-field label{
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.rcl-custom-fields-box .rcl-custom-field{
    
}
.rcl-custom-fields-box .rcl-custom-field i{
    font-family: dashicons;
    font-style: normal;
    color: #333;
    font-size: 18px;
    vertical-align: middle;
    margin: 0 5px;
}
.rcl-custom-fields-box .rcl-custom-field a{
    text-decoration: none;
    font-style: normal;
}
.rcl-custom-fields-box .rcl-custom-field input[type="text"],
.rcl-custom-fields-box .rcl-custom-field select,
.rcl-custom-fields-box .rcl-custom-field textarea{
    width: 100%;
}
.rcl-custom-fields-box .rcl-custom-field .dynamic-values{
    
}
.rcl-custom-fields-box .rcl-custom-field .dynamic-values .dynamic-value{
    clear: both;
    display: block;
}
.rcl-custom-fields-box .rcl-custom-field .dynamic-value input{
    width: 80%;
}
.rcl-custom-fields-box .rcl-custom-field .dynamic-values a{
    margin-left: 5px;
}
.rcl-custom-fields-box .rcl-custom-field a .fa-minus:before{
    content: "\f153";
}
.rcl-custom-fields-box .rcl-custom-field a .fa-plus:before{
    content: "\f502";
}
.rcl-custom-fields-box .type-file-input{
    padding: 10px;
    display: block;
    background: #fff;
}
.rcl-custom-fields-box .rcl-custom-field .file-manage-box{
    
}
.rcl-custom-fields-box .rcl-custom-field .file-manage-box .rcl-field-value{
    margin-right: 15px;
}
.rcl-custom-fields-box .rcl-custom-field .file-manage-box i{
    
}
.rcl-custom-fields-box .rcl-custom-field .file-manage-box .fa-upload:before{
    content: "\f501";
}
.rcl-custom-fields-box .rcl-custom-field .file-manage-box .delete-file-url{
    
}
.rcl-custom-fields-box .rcl-custom-field .file-manage-box .delete-file-url .fa-times-circle-o:before{
    content: "\f153";
}
.rcl-custom-fields-box .rcl-sortable-fields{
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
    min-height: 30px;
}
.rcl-custom-fields-box .rcl-custom-field .fa-info:before{
    content: "\f534";
}
.rcl-custom-fields-box .rcl-custom-field .field-header{
    padding: 10px;
    background: #E4E4E4;
    border: 1px solid #ccc;
    overflow: hidden;
}
.ui-sortable .rcl-custom-field .field-header{
    cursor:move;
}
.rcl-custom-fields-box .rcl-custom-field .field-header .field-title{
    font-weight: bold;
    vertical-align: middle;
}
.rcl-custom-fields-box .rcl-custom-field .field-header .field-controls{
    font-family: dashicons;
    float: right;
}
.rcl-custom-fields-box .rcl-custom-field .field-header .field-control{
    font-size: 25px;
    text-decoration: none;
    vertical-align: middle;
}
.rcl-custom-fields-box .rcl-custom-field .field-header .field-type{
    font-size: 20px;
    display: inline-block;
    font-family: dashicons;
    vertical-align: middle;
    margin-right: 5px;
    border: 1px solid #ccc;
    padding: 3px;
    background: #fff;
}
.rcl-custom-fields-box .rcl-custom-field[data-type="text"] .field-header .field-type:before{
    content: "\f464";
}
.rcl-custom-fields-box .rcl-custom-field[data-type="textarea"] .field-header .field-type:before{
    content: "\f119";
}
.rcl-custom-fields-box .rcl-custom-field[data-type="select"] .field-header .field-type:before{
    content: "\f203";
}
.rcl-custom-fields-box .rcl-custom-field[data-type="multiselect"] .field-header .field-type:before{
    content: "\f163";
}
.rcl-custom-fields-box .rcl-custom-field[data-type="checkbox"] .field-header .field-type:before{
    content: "\f147";
}
.rcl-custom-fields-box .rcl-custom-field[data-type="radio"] .field-header .field-type:before{
    content: "\f159";
}
.rcl-custom-fields-box .rcl-custom-field[data-type="email"] .field-header .field-type:before{
    content: "\f466";
}
.rcl-custom-fields-box .rcl-custom-field[data-type="tel"] .field-header .field-type:before{
    content: "\f525";
}
.rcl-custom-fields-box .rcl-custom-field[data-type="number"] .field-header .field-type:before{
    content: "123";
    font-size: 14px;
    font-weight: bold;
    vertical-align: super;
}
.rcl-custom-fields-box .rcl-custom-field[data-type="date"] .field-header .field-type:before{
    content: "\f508";
}
.rcl-custom-fields-box .rcl-custom-field[data-type="time"] .field-header .field-type:before{
    content: "\f469";
}
.rcl-custom-fields-box .rcl-custom-field[data-type="url"] .field-header .field-type:before{
    content: "\f103";
}
.rcl-custom-fields-box .rcl-custom-field[data-type="agree"] .field-header .field-type:before{
    content: "\f491";
}
.rcl-custom-fields-box .rcl-custom-field[data-type="file"] .field-header .field-type:before{
    content: "\f501";
}
.rcl-custom-fields-box .rcl-custom-field[data-type="dynamic"] .field-header .field-type:before{
    content: "\f502";
}
.rcl-custom-fields-box .rcl-custom-field[data-type="custom"] .field-header .field-type:before{
    content: "\f111";
}
.rcl-custom-fields-box .rcl-custom-field .field-header .field-delete:before{
    color: rgba(229, 57, 53, 0.7);
    content: "\f158";
}
.rcl-custom-fields-box .rcl-custom-field .field-header .field-edit:before{
    content: "\f140";
}
.rcl-custom-fields-box .rcl-custom-field .field-settings{
    border: 1px solid #ccc;
    padding: 10px;
    background: #f7f7f7;
    display: none;
}
.rcl-custom-fields-box .rcl-custom-field .field-settings .option-content{
    padding: 5px 10px;
    background: #ffffff;
    margin: 5px 0;
}
.rcl-custom-fields-box .rcl-custom-field label{
    font-weight: bold;
    display: block;
    background: #e4e4e4;
    padding: 3px 10px;
    margin-bottom: 5px;
}
.rcl-custom-fields-box .rcl-custom-field textarea{
    height:50px;
}
.rcl-custom-fields-box .rcl-custom-field .field-settings .option-content .option-input{
    
}
.rcl-custom-fields-box .rcl-custom-field .field-settings .option-content .rcl-field-input{
    
}
.rcl-custom-fields-box .rcl-custom-field .rcl-checkbox-box,
.rcl-custom-fields-box .rcl-custom-field .rcl-radio-box{
    display: inline-block;
    padding: 5px;
    background: #e4e4e4;
    margin: 5px;
}
.rcl-custom-fields-box .rcl-custom-field .rcl-checkbox-box label,
.rcl-custom-fields-box .rcl-custom-field .rcl-radio-box label{
    display: inline;
    background: none;
    padding: 0;
    font-weight: normal;
}
.rcl-custom-fields-box .rcl-custom-field .type-editor-input{
    
}
.rcl-custom-fields-box .rcl-custom-field .type-editor-input textarea{
    height: 150px;
}
.rcl-custom-fields-box .rcl-custom-field .type-editor-input input[type="button"]{
    width:auto;
}
.rcl-custom-fields-box .rcl-custom-field .rcl-radio-box{
    
}
.rcl-custom-fields-box .rcl-custom-field .rcl-radio-box label{
    
}
.rcl-custom-fields-box .rcl-custom-field .field-settings{
    
}
.rcl-custom-fields-box .rcl-custom-field.new-field .field-settings{
    display: block;
}
.rcl-custom-fields-box .rcl-custom-field .field-options-box{
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    overflow: hidden;
}
.rcl-custom-fields-box .rcl-custom-field .field-options-box .field-label{
    font-weight:bold;
    display: block;
}
.rcl-custom-fields-box .rcl-custom-field .field-options-box .field-option{
    margin: 5px 0;
}
.rcl-custom-fields-box .rcl-custom-field .field-options-box .field-option .field-notice{
    
}
.rcl-custom-fields-box .rcl-custom-field .field-options-box .field-option select{
    width: 70px;
}
.rcl-custom-fields-box .rcl-custom-field .field-options-box .field-option select[multiple]{
    width: 100%;
}
.rcl-custom-fields-box .rcl-custom-field .half-width{
    width: 47%;
    display: inline-block;
    float: left;
    margin: 0 5px;
}
.rcl-custom-fields-box .fields-submit input{
    width: 100%;
    box-sizing: border-box;
    margin:10px 0;
}
.rcl-custom-fields-box .rcl-field-notice{
    display:block;
    clear:both;
    font-size: 12px;
}
.rcl-custom-fields-box .rcl-field-notice i{
    font-size: 14px;
}
.rcl-custom-fields-box .ui-sortable-placeholder{
    border:2px dashed #ccc;
    height:45px;
    width:100%;
    box-sizing:border-box;
    background:#fff;
}
.rcl-custom-fields-box .new-field .field-header .field-control{
    float: right;
    margin-top: 20px;
}
.rcl-custom-fields-box .new-field .field-header .field-type{
    float: left;
    margin: 0;
    width: 190px;
    font-family: arial;
    font-size: inherit;
    background: none;
    padding: 0;
    border: 0;
}
.rcl-custom-fields-box .new-field .field-header .field-label{
    font-weight:bold;
}

.rcl-inactive-fields-box{
    width:350px;
}
.rcl-inactive-fields-box .rcl-custom-field{
    opacity:0.6;
}
.rcl-inactive-fields-box .rcl-custom-field .field-control,
.rcl-inactive-fields-box .rcl-custom-field .field-settings{
    display:none!important;
}

#custom_fields_editor_post .rcl-custom-fields-box .rcl-custom-field{
    padding: 10px;
    background: #f5f5f5;
    margin: 5px 0;
}

#rcl-options-form .submit-block > p {
    margin: 0;
    width: 236px;
}

#rcl-options-form .button-large.right {
    float: right;
    font-size: 15px;
    padding: 0 14px;
    width: 236px;
}

#rcl-options-form .extend-options {
    background: #f5f5f5 none repeat scroll 0 0;
    border-left: 2px solid #f8d3d3;
    margin: 5px 0;
    padding: 5px 8px;
}
#rcl-options-form .help-option{
    display: inline-block;
}
#rcl-options-form .help-option .dashicons{
    color: #2ea2cc;
    cursor: pointer;
    font-size: 18px;
}
#rcl-options-form .help-option .help-content{
    display: none;
}
#rcl-options-form .rcl-area{
    padding: 10px;
    background: #fff;
    margin: 20px 0;
}
.rcl-help-dialog .help-content{
    display:block;
}
.rcl-help-dialog .ui-dialog-titlebar {
    font-size:14px;
}
.wp-list-table .addon_screen img{
    width:200px;
}

/* navigation Start */
.rcl-navi,
.rcl-pager{
    box-shadow: 0 0 1px 1px rgba(219, 219, 219, 0.8);
    box-sizing: border-box;
    clear: both;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4;
    margin: 10px 0;
    padding: 6px 5px;
    width: 100%;
    text-align: right;
}
.rcl-navi a,
.rcl-navi span,
.rcl-pager .pager-item span,
.rcl-pager .pager-item a{
    display:inline-block;
    margin: 0 4px;
    padding: 2px 9px;
}
.rcl-navi span{
    box-shadow: 0 0 1px 1px rgba(219, 219, 219, 0.4);
}
.rcl-navi a:link,
.rcl-pager .pager-item a:link{										/*++hueman++ ÃƒÂÃ‚Â´ÃƒÂÃ‚Â¾ÃƒÂÃ‚Â±ÃƒÂÃ‚Â°ÃƒÂÃ‚Â²ÃƒÂÃ‚Â¸ÃƒÂÃ‚Â» :link ÃƒÂÃ‚Â´ÃƒÂÃ‚Â»Ãƒâ€˜Ã‚Â ÃƒÂÃ‚Â¿ÃƒÂÃ‚ÂµÃƒâ€˜Ã¢â€šÂ¬ÃƒÂÃ‚ÂµÃƒÂÃ‚Â²ÃƒÂÃ‚ÂµÃƒâ€˜Ã‚ÂÃƒÂÃ‚Â°*/
    background: #e4e4e4;
    border: none;										/*++Twenty15++*/
    box-shadow: 0 0 1px 1px rgba(219, 219, 219, 0.8);
    text-decoration: none;
}
.rcl-navi a:hover,
.rcl-pager .pager-item a:hover {
    box-shadow: 0 0 1px 2px rgb(219, 219, 219);
}
/* navigation End */

.wrap input[name="rcl-key"]:hover:not([value=""]) {
    filter: none;
    transition: all 0.15s linear 0s;
}
.wrap input[name="rcl-key"]:not([value=""]) {
    filter: blur(3px) invert(0.4) opacity(0.3);
    transition: all 0.15s linear 0s;
}