/*All User Comments*/
#commentlist{
    padding: 10px;
    
}
#commentlist h3{
    
}
#commentlist .comment{
    clear: both;
    
    overflow: hidden;
}
#commentlist .comment .comment-meta{
    font-weight: bold;
    
    font-size: 12px;
}
#commentlist .comment .comment-meta .comment-date{
    
}
#commentlist .comment .comment-meta .comment-post{
    
}
#commentlist .comment .comment-meta .comment-post a{
    
}
#commentlist .comment .comment-content{
    font-size: 14px;
    
}
#commentlist .comment .comment-link{
    text-align: right;
    
    font-size: 12px;
}