.rcl-custom-fields-menu li {
	display: inline-block;
	margin: 0;
}
.rcl-custom-fields-menu a {
	background-color: #e5e5e5;
	border: 1px solid #ccc;
	color: #555;
	display: flex;
	margin: 0 0 0 10px;
	padding: 8px 10px;
	text-decoration: none;
}
.rcl-custom-fields-menu a:hover {
	background-color: #eee;
	color: #000;
}
.rcl-custom-fields-menu .fa-trash {
	color: #e53935;
	/*font-family: dashicons;*/
	font-size: 22px;
	font-style: normal;
	margin: 0 5px 0 0;
}
.rcl-custom-fields-menu .fa-trash:before {
	/*content: "\f182";*/
}
.rcl-custom-fields-menu .fa-copy {
	color: #356be5;
	/*font-family: dashicons;*/
	font-size: 22px;
	font-style: normal;
	margin: 0 5px 0 0;
}
.rcl-custom-fields-menu .fa-copy:before {
	/*content: "\f105";*/
}

#rcl-public-form-manager{

}
#rcl-public-form-manager .action-button{
	margin-right: 10px;
}
#rcl-public-form-manager .action-button i{
	font-size: 22px;
}