.rcl-public-form-navi{
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px;
    background: #fff;
}
.rcl-public-form-navi .rcl-types-list{
    margin: 0;
    padding: 0;
}
.rcl-public-form-navi .rcl-types-list li{
    display: inline-block;
    border: 1px solid #ccc;
    margin: 5px;
}
.rcl-public-form-navi .rcl-types-list li a{
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    background: #ccc;
    color: #333;
}
.rcl-public-form-navi .rcl-types-list li.current-item{
    
}
.rcl-public-form-navi .rcl-types-list li.current-item a{
    background: #fff;
    font-weight: bold;
}
.rcl-public-form-navi i{
    font-family: dashicons;
    font-style: normal;
    font-size: 22px;
    vertical-align: middle;
}
.rcl-public-form-navi .rcl-types-list li a.action-form{
    
}
.rcl-public-form-navi .fa-plus:before{
    content: "\f502";
}
.rcl-public-form-navi .fa-trash:before{
    content: "\f182";
}