#ui-datepicker-div{
    width: 250px;
}
#ui-datepicker-div .ui-datepicker-header{
    color: #fff;
    background: #393939;
    position: relative;
    font-size: 18px;
}
#ui-datepicker-div .ui-datepicker-header > a{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    position: absolute;
    top: 12px;
    cursor: pointer;
    padding: 5px;
    line-height: 5px;
    vertical-align: middle;
    text-align: center;
}
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-prev{
    left: 5px;
}
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-next{right: 5px;}

#ui-datepicker-div .ui-datepicker-header .ui-datepicker-prev span,
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-next span{
    text-indent: -9999px;
    position: absolute;
}
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-prev:before{
    content: "\f0d9";
    vertical-align: middle;
}
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-next:before{
    content: "\f0da";
    vertical-align: middle;
}
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-title{text-align: center;padding: 5px;}
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-title .ui-datepicker-month{
    
}
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-title .ui-datepicker-year{
    
}
#ui-datepicker-div .ui-datepicker-calendar{
    width: 100%;
    background: #f3f3f3;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
#ui-datepicker-div .ui-datepicker-calendar table{
    
}
#ui-datepicker-div .ui-datepicker-calendar table th{
    
}
#ui-datepicker-div .ui-datepicker-calendar table th span{
    
}
#ui-datepicker-div .ui-datepicker-calendar tr{
    
}
#ui-datepicker-div .ui-datepicker-calendar tr td{
    background: #e0e0e0;
    border-right: 1px solid #b5b5b5;
    border-bottom: 1px solid #b5b5b5;
}
#ui-datepicker-div .ui-datepicker-calendar tr td a{
    padding: 5px;
    display: inline-block;
}
#ui-datepicker-div .ui-datepicker-calendar .ui-datepicker-other-month{
    background: #ededed;
}
#ui-datepicker-div .ui-datepicker-calendar .ui-datepicker-week-end{
    
}
#ui-datepicker-div .ui-datepicker-calendar .ui-datepicker-current-day{
    background: #6dafbf;
    color: #fff;
}
#ui-datepicker-div .ui-datepicker-calendar .ui-datepicker-today{
    background: #c3c3c3;
}
