#tab-profile table {
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
	font: 14px/1.5 Tahoma,Arial;			/*++Twenty15++*/
    margin: 0 0 12px;
    text-align: left;
    width: 100%;
}
#tab-profile table tr th {
    overflow: hidden;
    width: 32%;
}
#tab-profile input[type="checkbox"] {
    margin: 4px 2px 0;
    width: 15px;
    float: none;
}

#tab-profile table input,
#tab-profile table textarea {
    font: 14px/1.5 Tahoma,Arial;			/*++Twenty15++*/
    max-width: 99%;
    padding: 8px 2%;
    width: 100%;
    border:none;
    box-sizing: border-box;
}
#tab-profile table select {
	box-shadow: 0 0 1px 1px #ccc;
	box-sizing: border-box;
    float: left;
    max-width: 99%;
    padding: 8px 2%;
    width: 100%;
}
#tab-profile table .block-label {
    background: rgba(219, 219, 219, 0.3);
    box-shadow: 0 0 1px 1px rgba(219, 219, 219, 0.6);
    cursor: pointer;
    display: inline-block;
    float: left;
    font: 12px arial;
    margin: 4px;
    padding: 7px 9px 6px 8px;
}
#tab-profile table .block-label input[type="checkbox"] {
    margin: 0 6px 0 0;
}
#tab-profile table .block-label input[type="radio"] {
    border: 1px solid #d1d1d1;
    color: #b1b1b1;
    float: none;
    font-size: 13px;
    padding: 8px 12px;
    width: auto;
}
#tab-profile .required {
    color: rgb(229, 57, 53);
    font: bold 15px/1 Verdana,arial;
}
#tab-profile table label a {
    color: rgb(76, 140, 189);
    display: inline;
    font-weight: bold;
	margin: 0;
    padding: 0 1px 0 0;
}

#tab-profile table label a:hover,
#tab-profile table td span a:hover {
    color: #000;
    text-decoration: underline;
}

#tab-profile table td a:hover {
	color: #000;
}
#tab-profile table td a:hover i {
	color: red;
}
#tab-profile .file-manage-box{
    display: block;
    overflow: hidden;
    margin-bottom: 5px;
}
#tab-profile .file-manage-box .fa {
    color: rgb(229, 57, 53);
    font-size: 16px;
    margin-right: 5px;
}
#tab-profile .file-manage-box .delete-file-url{
    float: right;
}
#tab-profile .file-manage-box .delete-file-url a{
    display: inline-block;
}
#tab-profile .file-field-upload{
    display: block;
    padding: 5px;
    background: #f4f4f4;
    font-size: 11px;
}
#tab-profile .file-field-upload input{
    width: auto;
}

/* START upload cover */
.cab_cover_upl {
    background: rgba(0, 0, 0, 0.3);
    color: #ddd;
    float: right;
    font-size: 26px;
	line-height: 1;
    overflow: hidden;
    padding: 4px 7px;
	position: relative;
    z-index: 3;
}
.cab_cover_upl:hover{
    color: #eee;
    cursor: pointer;
}
.cab_cover_upl input{
    cursor: pointer;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    height: 100%;
}
/* END upload cover */

/* START Модальное окно с информацией о пользователе */
.rcl-user-getails .rcl-user-avatar {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
}
.rcl-user-getails .rcl-user-avatar img {
    border: 0;
    border-radius: 0;
    display: block;
    float: none;
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
	width: 100%;
}
.rcl-user-getails .rcl-user-avatar .rcl-avatar-zoom {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: none;
    font-size: 150px;
    height: 100%;
    opacity: 0.7;
    position: absolute;
	text-decoration: none;
    top: 0;
    width: 100%;
}
.rcl-user-getails .rcl-user-avatar:hover .rcl-avatar-zoom {
    display:flex;
}
.rcl-user-getails .rcl-avatar-zoom i {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.rcl-user-getails .ballun-status {
    margin: 5px auto 0;
    max-width: 425px;
}
.rcl-user-getails p.status-user-rcl::before {
    left: 0;
    margin-left: 50%;
}
.rcl-user-getails .block-rcl {
    padding: 5px;
}
.rcl-user-getails p {
    margin: 0;
	padding: 0;
}
.rcl-user-avatar-zoom .ssi-modalContent {
    padding: 0;
}
.rcl-user-avatar-zoom .ssi-topIcons {
    z-index: 1600;
}
.rcl-user-getails #ssi-modalWrapper{
    max-width: 450px;
}
.ssi-modalOuter.rcl-hand-uploader .ssi-modalContent {
	padding: 0;
}
/* END Модальное окно с информацией о пользователе */

