#users-profile-search{
    overflow: hidden;
	font-size: 14px;
    clear: both;
    padding: 5px;
    border: 1px solid #ccc;
	margin: 5px 0;
	background:#fff;
}
#users-profile-search .search-block{
    padding: 5px;

}
#users-profile-search .search-block label{
    display: block;

}
#users-profile-search .search-block input[type="text"]{

}
#users-profile-search .search-block select{

}
#users-profile-search .search-block input[type="text"],
#users-profile-search .search-block select{
    width: 180px;

    margin: 0;
}
#users-profile-search .search-submit{
    text-align: right;
	clear:both;
}
#users-profile-search .search-submit input[type="submit"]{
	text-align: center;
	width: 100px;
}
#users-profile-search.vertical{
    width: 190px;

}
#users-profile-search.vertical .search-block{

}
#users-profile-search.horizontal{

}
#users-profile-search.horizontal .search-block{
    float: left;

}